@model PagedList.IPagedList<CHITIETSACH>
@using PagedList.Mvc;
@using WEBSITEBANSACH.Models;
<link href="~/jqueryui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/jqueryui/jquery-ui.min.js"></script>
@{
<script src="~/Scripts/bootstrap.min.js">
</script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    Layout = "~/Views/Shared/Mylayout.cshtml";
    ViewBag.Title = "WebsiteBanSach";
}


<div class="container" style="padding-top:0px;">
    <div class="to">

        @foreach (var item in Model)
        {

            <div class="col-md-4 cha">

                <div class="tren">


                    <a href="/Sachmoi/chitiet/@item.MaCTS">
                        <img src="~/hinhanh/sach/@item.Anhbia" />
                        <p>@item.TensachCT</p>
                    </a>

                </div>


                <div class="duoi">
                    <p class="pull-right">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-heart"></span>
                            </button>
                            <button class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>

                            <button class="btn btn-sm btn-primary">

                                <span class="glyphicon glyphicon-gift">
                                </span>

                            </button>

                        </div>

                    </p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>

                </div>


            </div>





        }
    </div>

</div>

<style>
    .panel-body {
        /*width: 250px;
        height: 150px;*/
        /*border-radius: 10px;*/
        box-shadow: 0 0 5px blue;
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin: 5px;
    }

    .ratings {
        background-color: #F9F400;
        position: absolute;
        height: 50px;
        width: 270px;
        bottom: -50px;
        left: 0px;
    }
</style>

<script>
    $(function () {
        $(".panel-body").hover(function () {
            $(this).find(" .ratings ").stop().animate({
                "bottom": "0px"
            }, 500);
        }, function () {
            $(this).find(" .ratings ").stop().animate({
                "bottom": "-50px"
            }, 500);
        });
    });
</script>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .tren{
        text-align:center;
        width:100%;
        height:200px;

    }
    .cha{
        position:relative;
        border:1px solid black;
        height:260px;
        overflow:hidden;
    }
   
    .tren img{
        width:200px;
        height:200px;

    }
    .cha{
        margin-bottom:20px;
    }
    .to{
        width:75%;
        height:auto;    
    }
    .duoi{
        width:100%;
        position:absolute;
        bottom:-50px;
        left:0px;
        
    }
     .tren:hover .duoi{
        
         bottom:0px;
         left:0px;
        }
</style>
